.main__location {
  height: 60vh;
  width: 100%;
  background-color: var(--white-sprite);
  position: relative;
  .map__col {
    height: 100%;
    width: 100%;
    .map__left {
      height: 100%;
      background-color: var(--light-white);
      display: grid;
      justify-content: center;
      align-items: center;
      position: relative;
      background-image: url("../images/icons/maps.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20%;
      background-blend-mode: multiply;

      h4 {
        position: absolute;
        top: 70%;
        left: 53.5%;
        transform: translate(-70%, -53.5%);
        font-size: 40px;
        font-weight: 900;
        color: var(--common-green);
      }
    }
  }
}
