.products__section {
  min-height: 100vh;
  background: var(--common-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: var(--section-padding);
  background-image: url("../images/bg/milkbg.png");
  background-position: center;
  background-repeat: repeat-x;
  background-blend-mode: multiply;
  background-attachment: fixed;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--common-white);
    opacity: 0.7;
  }

  .products__title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: var(--title-fts);
    font-weight: var(--title-ftw);
    color: var(--common-green);
    z-index: 3;
  }

  .products__list {
    .product__container {
      padding: 0 10p;
      display: flex;
      justify-content: center;
      height: auto;
      .item {
        position: relative;
        min-height: 400px;
        height: 100%;
        width: 90%;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        border-radius: 20px;
        border: 1px solid #dfe9f3ad;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        margin: 20px 0;

        .prod__pic {
          position: absolute;
          top: -14%;
          left: 0;
          right: 0;
          z-index: 1;
        }

        .prod__description {
          .prod__name {
            font-size: 24px;
            font-weight: 600;
            color: var(--common-green);
            z-index: 2;
            background-color: var(--common-white);
            padding: 5px 10px;
            border-radius: 20px 20px 0 0;
          }
          position: absolute;
          bottom: 10px;
          height: 60%;
          left: 10px;
          right: 10px;
          text-align: center;
          background-color: var(--common-white);
          color: var(--common-blue);
          border-radius: 0 0 20px 20px;
          padding: 5px;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .view__all__btn {
    background-color: var(--green-sprite);
    color: var(--common-white);
    padding: 10px 20px;
    width: fit-content;
    width: moz-fit-content;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 3;
  }
}
